<div class='row'>
  <h3 class=''>Wine App</h3>
</div>

<!-- new wine form -->
<div ng-show="true">
  <h3>create new wine</h3>
<form class='form-group' ng-submit="createWine()">
    <label for="">Name</label>
    <input  class='form-control'type="text" ng-model="wine.name">
    <label for="">Year</label>
    <input  class='form-control'type="text" ng-model="wine.year">
    <label for="">Description</label>
    <textarea class='form-control' ng-model="wine.description"></textarea>
    <label for="">Picture Url</label>
    <input class='form-control' type="text" ng-model="wine.picture">
    <button type="submit" class='btn btn-primary pull-right'>Save</button>
</form>
<br>
</div>

<!-- show wines -->
<!-- wine picture -->
<div ng-repeat="wine in wines" class="col-sm-10 col-sm-offset-1">
  <div class="col-sm-3">
    <img ng-src="{{wine.picture}}"></img>
  </div>
  <!-- wine content -->
  <div class="col-sm-9">
    <h3>Name: {{wine.name}}</h3>
    <h4>Year: {{wine.year}}</h4>
    <p>Description: {{wine.description}}</p>
    <br>
    <!-- edit and delete buttons -->
    <a  ng-click="deleteWine(wine, $index)"><i class="icon ion-close-circled pull-right"></i></a>
    <a  ng-click="wine.editForm = true"><i class="icon ion-edit pull-right"></i></a>
  </div>


<!-- edit wine form -->
  <div>
    <form class='form-group' ng-show="wine.editForm" ng-submit="editWine(wine, $index)">
  
      <input  class='form-control' type="text" ng-model="wine.name" placeholder="Name">
      <input  class='form-control' type="text" ng-model="wine.year" placeholder="Year">
      <textarea class='form-control' ng-model="wine.description" placeholder="Description"></textarea>
      <input class='form-control' type="text" ng-model="wine.picture" placeholder="Picture URL">
      <button type="submit" class='btn btn-primary pull-right'>Update</button>
    </form>
    <br>
  </div>
</div>

